.add_answer{
    display: none;
}

.display-block{
    display: block;
}
.margintop20px{
    margin-top: 20px;
}       
.margintop10px{
    margin-top: 10px;
}

.marginbottom20px{
    margin-bottom: 20px;
}
.marginbottom10px{
    margin-bottom: 10px;
}

.commentsPanel{
    display: none;
}


.likeTotal, .imgLike{
    display: inline;
}
.imgLike{
    padding-left: 10px;
    cursor: pointer;
}
.likeTotal{
    vertical-align: bottom;
}

